.new-car-link{
  display: inline;
  width: max-content;
  background-color: hsl(204, 67%, 43%);
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
}